/* Signin styles */

.Signin {
    color: black;
    background-color: var(--background-color);
    height: 100vh;
    padding: 0;
  }
  
  .Signin h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
  }
  
  .signin-container {
    width: 100%;
    flex-grow: 1;
    max-width: 400px;
    padding: 40px;
    background-color: white;
    margin-top: 80px;
    border: 1px solid rgb(194, 192, 192);
    border-radius: 5px;
  }
  
  .signin-forgot-user-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .signin-label-username {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .signin-label-password {
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .signin-checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .signin-checkbox-container input {
    margin-right: 10px;
  }
  .signin-checkbox-container label {
    color: rgb(159, 159, 159);
    font-size: 13px;
  }
  
  .login-btn {
    padding: 10px;
    color: white;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 5px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    flex-grow: 1;
  }
  
  input {
    padding: 10px;
    box-sizing: border-box;
  }
  
  #username {
    width: 100%;
    flex-grow: 1;
    margin-bottom: 20px;
    margin-top: 4px;
  }
  
  #signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
  }
  form {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .signin-link {
    text-decoration: none;
    color: white;
  }