.user-profile-container {
  color: black;
  margin-top: 40px;
  margin-left: 260px;
}

.user-info-label {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 50px;
}

.username-container {
  margin-left: 10px;
}
.actions {
  margin-top: 40px;
}

.input-field {
  padding: 10px;
  box-sizing: border-box;
  /* width: 100%; */
  margin-bottom: 0;
}

.primary-button,
.secondary-button {
  padding: 10px 15px;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
}

.secondary-button {
  background-color: var(--secondary-color);
  color: white;
  border: 1px solid var(--primary-color);
}

.profile-creation-buttons-container button {
  margin-top: 20px;
  margin-left: -2px;
  margin-right: 10px;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .user-profile-container {
    margin-left: 24px;
  }
}
