/* Dashboard styles  */

.Dashboard {
  display: flex;
  flex-direction: column;
}

.Dashboard-heading {
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.Dashboard-heading h2 {
  margin-left: 260px;
  padding: 12px 10px;
}

.Dashboard-body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  /* height: 87.9vh; */
  height: calc(100vh - 12.1vh);
  /* width: calc(230px - 100%); */
  padding-left: 260px;
}

.Dashboard-my-events-container {
  width: 800px;
  height: 160px;
  background-color: white;
  margin-bottom: 60px;
  margin-top: 2px;
  border: 1px solid rgba(138, 138, 138, 0.216);
  border-radius: 5px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.053);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-component-headings {
  display: flex;
  justify-content: left;
  align-items: center;
}

.dashboard-component-headings p {
  margin-top: 15.5px;
  margin-left: 5px;
  font-size: 12px;
  color: rgb(64, 134, 191);
  font-weight: bold;
}

.dashboard-components-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  /* margin-bottom: 40px; */
}

.dashboard-components-container h2 {
  /* margin-top: 0; */
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  #team-tactics-logo {
    display: none;
  }

  .Dashboard-body {
    padding: 2em;
  }

  .nav-username {
    display: none;
  }

  .nav-message-icon {
    display: none;
  }

  .nav-search-icon {
    display: none;
  }

  .side-nav {
    color: var(--text-color1);
    width: 100vh;
    height: 100vh;
    position: fixed;
    left: 0;
    overflow-x: hidden;
    background-color: var(--secondary-color);
  }

  .profile-pic-large-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
  }

  .profile-pic-large {
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    border-radius: 50%;
    display: flex;
    /* text-align: center;
  line-height: 100px; */
  }

  .profile-container {
    display: flex;
  }

  .profile-pic-large div {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 12px;
  }

  .profile-pic-large p {
    text-align: center;
    font-size: 20px;
    /* font-family: sans-serif; */
  }

  #side-nav-username {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 2px;
  }

  #side-nav-username h3 {
    font-size: 16px;
  }

  .side-nav li {
    text-align: left;
    padding: 22px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.781);
    background-color: var(--secondary-color);
  }

  .menu {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .bar {
    width: 24px;
    height: 2px;
    background-color: var(--text-color1);
    margin: 3px 0;
    transition: 0.4s;
  }

  .nav-elements-1-2 {
    display: flex;

    margin-right: 10px;
  }

  .nav-elements-1-2 div {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .Dashboard-heading h2 {
    margin-left: 0;
  }

  div {
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 700px) {
  .Dashboard-heading h2 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 650px) {
  .Dashboard-heading h2 {
    font-size: 13px;
  }
  .Dashboard-heading p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1200px) {
  .Dashboard-my-events-container {
    width: 600px;
    height: 160px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .Dashboard-my-events-container {
    width: 360px;
    height: 160px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .Dashboard-my-events-container {
    width: 260px;
    height: 160px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
