.Message {
  color: var(--primary-text-color);
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.Message-preview {
  display: flex;
  align-items: center;
}

.Message-headings-container {
  margin-left: 10px;
}

.Message-headings-container p {
  margin: 0;
  font-size: 12px;
}
.Message-headings-container div {
  margin: 0;
  font-weight: bold;
}

.Message-time {
  margin-top: 20px;
  margin-left: 74px;
}
.Message-time div {
  font-size: 10px;
}
