/* Navbar styles */

.top-navbar {
  width: 100%;
  height: 60px;
  background-color: var(--primary-color);
  padding: 12px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--secondary-color);
}

.side-nav {
  
  width: 22vw;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--primary-color);

  display: flex;
  flex-direction: column;

  color: var(--secondary-color);

  padding-left: 15px;
  padding-right: 15px;
}

.side-nav p{
  margin-left: 15px;
  
  
  font-size: 1.5rem;
  font-weight: 400;

}

.side-nav ul {
  list-style-type: none;
  padding: 0;
}

.side-nav li {
  
  
}

.side-nav li a {
  display: flex;
  align-items: center; /* Aligns the icon and text */
  text-decoration: none;
  
  padding: 10px; /* Padding around text and icon */

  color: var(--secondary-color);
  
  border-radius: 5px; /* Rounds the corners */
}

.side-nav li a:hover {
  background-color: var(--secondary-semi-transparent); /* Background color on hover */
}

.fa-fw { /* Ensures fixed width for icons */
  margin-right: 10px; /* Space between icon and text */
}
