.signin-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Needed for absolute positioning of pseudo-elements */
  background: linear-gradient(45deg, rgb(109, 109, 109) 30%, gray 30%, white 100%);
  background-size: 200% 200%;
  -webkit-animation: userBackgroundAnimationWK 200s ease infinite;
  -moz-animation: userBackgroundAnimationMZ 200s ease infinite;
  animation: userBackgroundAnimation 200s ease infinite;
}

/* Adding pseudo-element for the shadow effect */
.signin-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, transparent 0%, transparent 70%, rgba(0, 0, 0, 0.2) 100%);

}

.signin-btn{
  background-color: #ff8c00;
  transition: all 0.3s ease;
}

.signin-btn:hover{
  background-color: #ff9c23;
  scale: 1.01;
}

.register-page{
  background: linear-gradient(45deg, var(--link-color) 0%, var(--link-color) 70%, var(--accent-color) 70%);
}

.signin-modal strong{
color: red;
}

.register-modal{
  height: fit-content;
}

.register-modal ul {
list-style-position: inside; /* Moves the bullet points inside the content flow */
}

@-webkit-keyframes adminBackgroundAnimationWK {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@-moz-keyframes adminBackgroundAnimationMZ {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes adminBackgroundAnimation {
  0% {
      background-position: 0% 55%;
  }
  50% {
      background-position: 70% 50%;
  }
  100% {
      background-position: 0% 55%;
  }
}

@-webkit-keyframes userBackgroundAnimationWK {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

@-moz-keyframes userBackgroundAnimationMZ {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

@keyframes userBackgroundAnimation {
0% {
    background-position: 45% 0%;
}
50% {
    background-position: 30% 50%;
}
100% {
    background-position: 45% 0%;
}
}