
.sidebar {
    width: 500px;
    height: 400%;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .sidebar-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar-header h2 {
    font-size: 24px;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    margin-bottom: 10px;
  }
  
  .sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .sidebar-menu li a:hover {
    color: #ffc107;
  }
  