/* Global colors */

:root {
  /* top navbar color */
  --primary-color: #191d24;
  /* side navbar color */
  --secondary-color: #2c3341;
  --hover-color: #191c24;
  --background-color: #d9dbdb;
  --text-color1: #ffffff;
  --text-color2: #080808;
  --background-color2: #242424;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-color1);
}

/* Navbar styles */

.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--primary-color);
}

.side-nav {
  color: var(--text-color1);
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  background-color: var(--secondary-color);
}

.side-nav div {
  text-align: center;
  padding: 30px;
  background-color: var(--secondary-color);
}

.side-nav div:hover {
  background-color: var(--hover-color);
}

.nav-elements-1-2 {
  display: flex;

  margin-right: 10px;
}

.nav-elements-1-2 div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.nav-elements-3-4 div {
  margin-right: 10px;
}
.nav-elements-3-4 {
  display: flex;
  align-items: center;
}
.flex-row {
  display: flex;
}

.profile-pic-small {
  width: 24px;
  height: 24px;
  background-color: cadetblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 24px;
  height: 2px;
  background-color: var(--text-color1);
  margin: 3px 0;
  transition: 0.4s;
}
