#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* App.css */
.app-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

/* Sidebar.css */
.sidebar {
  width: 300px;
  height: 130%;
  background-color: #2c3e50;
  color: #fff;
  padding: 60px;
  float:left;
  margin:0;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 50px;
}

.sidebar-header h2 {
  font-size: 90px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 30px;
}

.sidebar-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-menu li a:hover {
  color: #3498db;
}
.team-organization-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
 
}

.box {
  background-color: #0f1a1d;
  padding: 20px;
}

.assign-members {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #0f1a1d;
}

.remove-members {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #0f1a1d;
}

.assign-group-info {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: #0f1a1d;

}

