/* Global colors */

:root {
  /* top navbar color */
  --primary-color: #191d24;
  /* side navbar color */
  --secondary-color: #2c3341;
  --hover-color: #191c24;
  --background-color: #f0f2f4;
  --text-color1: #ffffff;
  --text-color2: #080808;
  --background-color2: #242424;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--text-color1);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

/* Navbar styles */

.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--primary-color);
}

.side-nav {
  color: var(--text-color1);
  width: 230px;
  height: 100vh;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  background-color: var(--secondary-color);
}

.side-nav li {
  text-align: left;
  padding: 26px 26px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.781);
  background-color: var(--secondary-color);
}

.side-nav li:hover {
  background-color: var(--hover-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h3 {
  font-size: 18px;
}

#team-tactics-logo {
  padding: 0;
  margin: 0;
}

.nav-elements-1-2 {
  display: flex;

  margin-right: 10px;
}

.nav-elements-1-2 div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.nav-elements-3-4 div {
  margin-right: 10px;
}
.nav-elements-3-4 {
  display: flex;
  align-items: center;
}
.flex-row {
  display: flex;
}

.nav-message-icon {
  display: flex;
  align-items: center;
}

.nav-search-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.profile-pic-small {
  width: 30px;
  height: 30px;
  background-color: cadetblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.bar {
  display: none;
}

.profile-pic-small p {
  margin-left: 6px;
}

.profile-pic-large {
  width: 110px;
  height: 110px;
  background-color: cadetblue;
  border-radius: 50%;
  display: flex;
  /* text-align: center;
  line-height: 100px; */
}

.profile-pic-large div {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 29px;
}

.profile-pic-large p {
  text-align: center;
  font-size: 40px;
  /* font-family: sans-serif; */
}

.profile-pic-large-container {
  margin-top: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#side-nav-username {
  text-align: center;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.417); */
}

.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.417);
}

.menu {
  display: none;
}

.nav-elements-1-2 div {
  display: none;
}
.bar {
  width: 24px;
  height: 2px;
  background-color: var(--text-color1);
  margin: 3px 0;
  transition: 0.4s;
}

.nav-dashboard {
  color: rgba(255, 255, 255, 0.781);
  text-decoration: none;
}

/* Dashboard styles  */

.Dashboard-heading {
  color: rgba(0, 0, 0, 0.775);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.Dashboard-heading h2 {
  margin-left: 260px;
  padding: 12px 10px;
}

.Dashboard-body {
  background-color: var(--background-color);
  /* height: 87.9vh; */
  /* height: calc(100vh - 12.1vh); */
}

/* Signin styles */

.Signin {
  color: black;
  background-color: var(--background-color);
  height: 100vh;
  padding: 0;
}

.Signin h1 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}

.signin-container {
  width: 100%;
  flex-grow: 1;
  max-width: 400px;
  padding: 40px;
  background-color: white;
  margin-top: 80px;
  border: 1px solid rgb(194, 192, 192);
  border-radius: 5px;
}

.signin-forgot-user-container {
  display: flex;
  justify-content: space-evenly;
}

.signin-label-username {
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: bold;
}

.signin-label-password {
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
}

.signin-checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.signin-checkbox-container input {
  margin-right: 10px;
}
.signin-checkbox-container label {
  color: rgb(159, 159, 159);
  font-size: 13px;
}

.login-btn {
  padding: 10px;
  color: white;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  border-radius: 5px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 15px;
  width: 100%;
  flex-grow: 1;
}

input {
  padding: 10px;
  box-sizing: border-box;
}

#username {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 20px;
  margin-top: 4px;
}

#signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
}
form {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.signin-link {
  text-decoration: none;
  color: white;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  #team-tactics-logo {
    display: none;
  }

  .nav-username {
    display: none;
  }

  .nav-message-icon {
    display: none;
  }

  .nav-search-icon {
    display: none;
  }

  .side-nav {
    color: var(--text-color1);
    width: 100vh;
    height: 100vh;
    position: fixed;
    left: 0;
    overflow-x: hidden;
    background-color: var(--secondary-color);
  }

  .profile-pic-large-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
  }

  .profile-pic-large {
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    border-radius: 50%;
    display: flex;
    /* text-align: center;
  line-height: 100px; */
  }

  .profile-container {
    display: flex;
  }

  .profile-pic-large div {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 12px;
  }

  .profile-pic-large p {
    text-align: center;
    font-size: 20px;
    /* font-family: sans-serif; */
  }

  #side-nav-username {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 2px;
  }

  #side-nav-username h3 {
    font-size: 16px;
  }

  .side-nav li {
    text-align: left;
    padding: 22px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.781);
    background-color: var(--secondary-color);
  }

  .menu {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .bar {
    width: 24px;
    height: 2px;
    background-color: var(--text-color1);
    margin: 3px 0;
    transition: 0.4s;
  }

  .nav-elements-1-2 {
    display: flex;

    margin-right: 10px;
  }

  .nav-elements-1-2 div {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .Dashboard-heading h2 {
    margin-left: 0;
  }
}
