@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:sans-serif;

  color-scheme: any;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;

  --primary-color: #101010;   /* 60% of the usage */
  --secondary-color: #ffffff; /* 30% of the usage */
  --accent-color: #006eff;     /* 10% of the usage */

  --secondary-semi-transparent: rgba(255, 255, 255, 0.40);

  --page-container-bg: #f5f5f5;
  --soft-gray-text: #b1b1b1;

  --soft-border: #cbcbcb;
  --secondary-bg-offset: rgb(250, 251, 252);

  --link-color: #1a47e8;
  --accent-hover-color: #0059c1;

  --soft-gray: #cbcbcb;
  --soft-gray-hover: #b3b3b3;

  color: var(--primary-color) ;

}

a{
  text-decoration: none;
  color: var(--primary-color)
}

a:hover {
  color: var(--accent-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.8em;
  line-height: 1.1;
}


button {
  display: block;
  width: 100px;
  height: 30px;
  background-color: var(--accent-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
}

.button:hover {
  background-color: var(--accent-hover-color); /* Slightly darker blue on hover for feedback */
}


button.danger{
  background-color: red;
}


.locked-button {
  display: block;
  background-color: var(--soft-gray);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.locked-button:hover {
  background-color: var(--soft-gray); 
}

.icon-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
   padding: 11px;

   transition: all 0.25s ease;
}

.icon-button.secondary{
  background-color: var(--soft-gray);
}
.icon-button.secondary:hover{
  background-color: var(--soft-gray-hover);
}

.icon-button.danger{
  background-color: red;
}

.icon-button-link{
  cursor: pointer;
  transition: all 0.15s ease;
}

.icon-button-link:hover{
  color: var(--accent-color);
  scale: 1.1;
}

input {
  width: 100%;
  height: 40px;
  background-color: var(--secondary-bg-offset);
  border: 1px solid var(--soft-border);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;

  transition: all 0.25s ease;
}

input:hover {
  border-color: var(--accent-color);
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  background-color: var(--calendar-bg-offset);
  color: var(--soft-gray);
  border-radius: 24px;

  border: 1px solid var(--tertiary-color);
}

input[type="checkbox"] {
  width: 22px; /* Adjust the width as needed */
  height: 22px; /* Adjust the height as needed */
  cursor: pointer;
  appearance: auto;
  background-color: white !important; /* White background */
  border: 2px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Rounded corners */
}

input[type="checkbox"]:checked {
  background-color: white;
  border: 2px solid var(--accent-color); /* Blue border for checked state */
}

input[type="checkbox"]:focus {
  outline: none; /* Removes outline on focus */
  border-color: var(--accent-color); /* Highlight color when focused */
}

.filter-dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #333;
  border-radius: 4px;

  transition: all 0.25s ease;
}

.filter-dropdown:hover {
  border-color: var(--accent-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--accent-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:disabled {
  background-color: var(--soft-gray);
  color: #888888;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.page-container{
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page-layout{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.page-content{
  background-color: var(--secondary-color);
  border-top-left-radius: 20px;
  width: 100%;
  height: 100%;
}
